.dashboard-main {
    text-align: center;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.dashboard-table th,
td {
    padding: 1.5rem;
    border: 2px solid white;
}


.dashboard-table thead {
    color: white;
    font-size: 2.5rem;
    background: rgba(255, 255, 255, 0.1);
}

.dashboard-delete-button,
.dashboard-update-button {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
}

.dashboard-delete-button {
    background: red;
}

.dashboard-update-button {
    background: blue;
}

.dashboard-delete-button:hover,
.dashboard-update-button:hover,
.dashboard-create-button:hover {
    filter: brightness(0.6);
    cursor: pointer;
}

.dashboard-create-button {
    background: green;
    border: none;
    font-size: 2rem;
    color: white;
    font-family: "SpaceMono" , sans-serif;
    padding: 1rem;
}

/****** UPDATE ACCOUNT PAGE ******/
.updateaccount-page-main {
    text-align: center;
}

.updateaccount-page-update-button,
.updateaccount-page-delete-button {
    padding: 1.5rem;
    font-size: 1.6rem;
    margin: 1rem;
    border: 0;
    color: white;
}

.updateaccount-page-update-button:hover,
.updateaccount-page-delete-button:hover {
    filter: brightness(0.6);
    cursor: pointer;
}

.updateaccount-page-update-button {
    background: blue;
}

.updateaccount-page-delete-button {
    background: red;
}

.admin-role-row {
    display: none;
}

.admin-lastconnexion-row {
    display: none;
}

.admin-action-row {
    display: none;
}
    
    
/********* MEDIA QUERIES *************/
/*********** TABLETTE **************/
@media screen and (min-width:600px) and (max-width:800px) {
    
    .admin-role-row {
        display: table-cell;
    }
    
    .admin-action-row {
        display: table-cell;
    }
}

/**********  DESKTOP **************/
@media screen and (min-width:800px) {
    
    .admin-role-row {
        display:table-cell;
    }
    
    .admin-lastconnexion-row {
        display:table-cell;
    }
    
    .admin-action-row {
        display:table-cell;
    }

}