.login-page-main {
  background: #212121;
  text-align: center;
  padding: 5rem 1rem 10rem 1rem;
}

.loginpage-article {
  width: 100%;
}

.loginpage-form-button {
  font-size: 2.5rem;
  border: 0;
  padding: 1.5rem;
  margin-top: 3rem;
  background: #950c0c;
  color: white;
}

.loginpage-form-button:hover {
  cursor: pointer;
  color: #950c0c;
  background: white;
}


/********* MEDIA QUERIES *************/
/*********** TABLETTE **************/
@media screen and (min-width:600px) and (max-width:900px) {
    .loginpage-article {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
}

/**********  DESKTOP **************/
@media screen and (min-width:900px) {
    .loginpage-article {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    
}