.studio-page-main {
    text-align: center;
    padding: 0;
}

.studio-page-article {
    padding: 3rem 0 6rem 0;
}

.studio-page-section {
    margin-bottom: 5rem;
    position: relative;
}

.studio-page-paragraph {
    text-align: left;
    line-height: 1.7;
    padding: 0 1rem 4rem 1rem;
    max-width: 1500px;
}

.studio-page-title {
    margin-top: 6rem;
    position: relative;
}

.studio-page-team-flex {
    justify-content: space-around;
    max-width: 1500px;
    flex-wrap: wrap;
}

.studio-page-team-cards {
    margin: 1rem 2rem 5rem 2rem;
    position: relative;
}


.studio-page-edit-form {
    width: 60%;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
}


/********* UPDATE PEN ************/
.admin-studio-update-pen {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.admin-studio-update-pen:hover {
    transform: scale(1.5);
    color: blue;
}

.studio-page-edit-title {
    position: relative;
}

.admin-studio-update-memberImg-pen {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: blue;
}

.admin-studio-update-memberImg-pen:hover {
    transform: scale(1.5);
}


/********* MEDIA QUERIES *************/
/*********** TABLETTE **************/
@media screen and (min-width:600px) and (max-width:900px) {
    .studio-page-paragraph {
        padding: 0 2rem 4rem 2rem;
    }
    
    .studio-page-team-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .studio-page-team-cards {
        max-width: 40%;
        margin-bottom: 5rem;
    }
}

/**********  DESKTOP **************/
@media screen and (min-width:900px) {
    .studio-page-article {
        padding: 6rem 0 6rem 0;
    }
    
    .studio-page-section {
        padding: 4rem 0 4rem 0;
    }
    
    .studio-page-paragraph {
        line-height: 2;
        padding: 0 20rem 0 20rem;
    }
    
    .studio-page-section h2,
    .studio-page-section p {
        animation: text-reveal 3s ease-in-out;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: contain 65%;
    }
    
    .studio-page-section:first-of-type h2,
    .studio-page-section:first-of-type p {
        animation: text-reveal 1s ease-in-out;
    }
    
    .studio-page-article .studio-page-section:nth-child(even) {
        background: black;
    }
    
    .studio-page-team-flex {
        display: flex;
        justify-content: space-around;
        max-width: 1500px;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .studio-page-team-cards {
        max-width: 35%;
        margin-bottom: 5rem;
        flex: 1;
    }
    
    .studio-page-team-cards {
        animation: text-reveal 1s ease-in-out;
        animation-timeline: view();
        animation-range-start: cover 0%;
        animation-range-end: contain 40%;
    }
    
    .admin-studio-update-pen {
        top: 10%;
        right: 10%;
    }
    
    
    .admin-studio-update-memberImg-pen {
        top: 5%;
        right: 5%;
    }
    
}