/* Fonts */
@font-face {
    font-family: 'SpaceMono';
    src: url('../assets/fonts/Space_Mono/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

/*Généralités*/
body {
  margin: 0;
  font-size: 1.9rem;
  font-family: "SpaceMono" , sans-serif;
	font-weight: 500;
	line-height: 1.5;
	color: #FFFFFF;
	background: #212121;
}

html {
	font-size: 62.5%;
	scroll-behavior : smooth;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins" , sans-serif;
}

main {
  padding: 5rem 1rem 5rem 1rem;
}

.img-responsive {
  width:100%;
  height:auto;
}

.container {
  max-width: 1500px;
}

.figure {
  width: 100px;
  margin: 0;
  line-height: 0;
}

picture {
  margin: 0;
}

input,
label {
  transition: all 0.2s linear;
}

button,
a {
  transition: all 0.3s ease-in-out;
}

fieldset {
  border: 0;
}

/* ANIMATIONS */
@keyframes text-reveal {
  from {
    transform:scale(0);
    opacity:0;
  }
  to {
    transform:scale(1);
    opacity:1;
  }
}



/********* MEDIA QUERIES *************/
/*********** TABLETTE **************/
@media screen and (min-width:600px) and (max-width:900px) {
    
}

/**********  DESKTOP **************/
@media screen and (min-width:900px) {
    
    main {
      padding: 5rem;
    }

}