.header-navbar {
  display: none;
}

.header-navlink {
  text-decoration: none;
  padding: 1rem;
  color: #FFFFFF;
  margin: 1rem;
  transition: all 0.4s ease-in-out;
}


.header-navlink:hover {
  color: #950C0C;
}

.header-navlink.active {
  background: rgba(255, 255, 255, 0.1);
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  background: #171717;
  padding : 2rem;
}

.burger-menu-button {
  display:block;
  width:60px;
  height:60px;
  border:none;
  background:transparent;
  cursor:pointer;
  z-index:15000;
  padding-bottom:1rem;
}

.burger-menu-line {
  height:6px;
  width:100%;
  margin:8px auto;
  background: #950C0C;
  transition: all 0.4s ease;
}

.burger-line-crossed .burger-menu-line:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}

.burger-line-crossed .burger-menu-line:nth-child(2) {
  opacity:0;
}

.burger-line-crossed .burger-menu-line:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}

.burger-menu {
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: #171717;
  z-index:14000;
  text-align:center;
  padding-top:5rem;
  border: 0;
}

.burger-menu-navlink {
  display: block;
  text-decoration: none;
  color: white;
  margin-top:5rem;
}

.burger-menu-dropdown-list {
  list-style: none;
  padding-left: 0;
}

.burger-menu-dropdown-list li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 2rem;
}

.display-none {
  display: none;
}

.caret {
  color: #950C0C;
  display: inline-block;
  transition: transform 0.8s ease;
}

.rotate-caret {
  transform: rotate(180deg);
}

.header-flex .figure {
  cursor: pointer;
}


/********* MEDIA QUERIES *************/
/*********** TABLETTE **************/
@media screen and (min-width:600px) and (max-width:900px) {
}

/**********  DESKTOP **************/
@media screen and (min-width:900px) {
  .burger-menu-button  {
    display:none;
  }
  
  .header-navbar {
    display: block;
  }
  
  .header-navlink-games-dropdown {
    position: relative;  
    text-decoration: none;
    padding: 1rem;
    color: #FFFFFF;
    margin: 1rem;
    transition: all 0.4s ease-in-out;
  }
  
  .header-navlink-games-dropdown:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  
  .header-navbar-games-list {
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 0;
    background: #171717;
    list-style: none;
    padding-left: 0;
  }
  
  .display-none {
    display: none;
  }
  
  .header-navlink-games-dropdown:hover .header-navbar-games-list {
    display: block;
  }
  
  .header-navbar-games-list li {
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
  }
  
  .header-navbar-games-list li:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .header-navbar-games-list li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2rem;
  }
  
  .caret {
    color: white;
  }
  
  .header-navlink-account-dropdown {
    position: relative;  
    text-decoration: none;
    padding: 1rem;
    color: #FFFFFF;
    margin: 1rem;
    transition: all 0.4s ease-in-out;
  }

  
  .header-navbar-account-list {
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 0;
    background: #171717;
    list-style: none;
    padding-left: 0;
  }
  
  .header-navbar-account-list li {
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
  }
  
  .header-navbar-account-list li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2rem;
  }
  
  .header-navbar-account-list li:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .header-navbar-dashboards-dropdown {
    position: relative;  
    text-decoration: none;
    padding: 1rem;
    color: #FFFFFF;
    margin: 1rem;
    transition: all 0.4s ease-in-out;
  }
  
  .header-navbar-dashboards-dropdown:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .header-navbar-dashboards-list {
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 0;
    background: #171717;
    list-style: none;
    padding-left: 0;
  }
  
  .header-navbar-dashboards-list li {
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
  }
  
  .header-navbar-dashboards-list li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2rem;
  }
  
  .header-navbar-dashboards-list li:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .header-navbar-pages-dropdown {
    position: relative;  
    text-decoration: none;
    padding: 1rem;
    color: #FFFFFF;
    margin: 1rem;
    transition: all 0.4s ease-in-out;
  }
  
  .header-navbar-pages-dropdown:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .header-navbar-pages-list {
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 0;
    background: #171717;
    list-style: none;
    padding-left: 0;
  }
  
  .header-navbar-pages-list li {
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
  }
  
  .header-navbar-pages-list li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2rem;
  }
  
  .header-navbar-pages-list li:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}